table {
  margin: 0 auto;

  tr {

    th, td {
      color: var(--color-primary);
    }

    th {
      text-align: center;
    }

    td {
      padding: 24px 15px;
    }
  }
}

::ng-deep .mat-paginator-page-size-label, ::ng-deep .mat-paginator-range-label {
  color: var(--color-primary);
}

::ng-deep .mat-paginator-page-size-select {
  width: 27px!important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: var(--color-primary);
}

::ng-deep .mat-select-value {
  color: var(--color-choose);
  font-weight: bold;
  font-size: 15px;
}
::ng-deep .mat-select-arrow {
  color: var(--color-choose);
}
::ng-deep .mat-option{
  padding: 0!important;

}
::ng-deep .mat-option-text {
  color: var(--color-primary);
}

::ng-deep .mat-select-panel {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

::ng-deep .mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: inherit !important;
}

::ng-deep .mat-select-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10% !important;
  background-color: var(--color-primary-opacity);
  -ms-transform: translate(200px, 0px);
  transform: translate(200px, 0px);
}

