.content-container {
  position: relative;
  overflow: auto;
  height: 300px;
  margin-top: 30px;
  background-image: var(--gradient-main-slider);
  border-bottom: 2px solid var(--color-main-slider);
  box-shadow: var(--shadow-main-slider);
  overflow-y: hidden;
  z-index: 1;
}

.title {
  margin: 30px 0 20px;
}

.slide {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .swiper-slide {
    color: #aaa;
    background-color: #eee;
  }
}

.text-fish {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px 0;
  color: var(--color-primary);
  font-size: var(--font-size-standart);

  .card{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding: 5px;
    border: 1px solid var(--color-font-light-disabled);
    border-radius: 5px;
  }
}

@media only screen and (min-width: 960px) {
  .text-fish {
    flex-wrap: initial;
  }
}
