@import '~src/assets/styles/mixins/layout';

:host {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  background-image: var(--gradient-header-bg);
  z-index: 5;
}

.header {
  @extend %width-restriction;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
