:root {
  #{--color-main-dark}: #0f0c1f;
  #{--color-primary}: #fff;
  #{--color-dark-strong}: #000;
  #{--color-primary-semi-transparent}: rgba(255, 255, 255, .5);
  #{--color-active-border}: #fffcc7;
  #{--color-main-slider}: #fffcc7;
  #{--color-primary-opacity}: rgba(255, 255, 255, .1);
  #{--color-confirmation}: #cb6600;
  #{--color-font-light-disabled}: rgba(255, 255, 255, .2);



  #{--gradient-header-bg}: linear-gradient(to top, #101116 0%, #121316 100%);
  #{--gradient-main-slider}: linear-gradient(180deg, #196e51 0%, #8ed64a 75%, #0ea31c 88%, #095313 100%);
  #{--gradient-header-neon-line}: linear-gradient(to right, #fff 0%, var(--color-7bit-accent) 10%, var(--color-7bit-accent) 90%, #fff 100%);
  #{--shadow-main-slider}: 0 0 24px 10px rgba(22, 234, 16, 0.64), 0 0 9px rgba(30, 255, 161, 0.8), 0 0 4px 1px #ffd297;
  #{--shadow-main-slider-desktop}: 0 0 24px 30px rgba(38, 234, 24, 0.64), 0 0 24px 10px rgba(24, 234, 24, 0.64) inset, 0 0 9px rgba(18, 255, 94, 0.8), 0 0 9px rgba(19, 255, 71, 0.8) inset, 0 0 4px 1px #ffd297, 0 0 4px 1px #ffd297 inset;

  #{--font-family-medium}: 'BlissPro-Medium', sans-serif;

  #{--fonts-medium}: 500;
  #{--fonts-light}: 400;
  #{--fonts-bold}: 700;

  #{--fonts-size-m-md}: 27px;
  #{--font-size-xxl-mob}: 35px;
  #{--font-size-standart}: 14px;

  #{--shadow-404-title}: drop-shadow(12px 12px 7px rgba(65, 234, 31, 0.6));
  #{--shadow-shine-text}: 0 0 8px rgba(255, 255, 255, .8);
  #{--shadow-button-bordered-hover}: 0 0 10px rgba(255, 255, 255, .5);
  #{--shadow-modal}: 0 36px 60px rgba(0, 0, 0, .6);
  #{--shadow-header-neon-line}: 0 0 6px 1px var(--color-7bit-accent), -1px 0 2px 0 rgba(135, 255, 210, 0.53);
  #{--shadow-active-tab}: 0 0 9px rgba(127, 255, 124, 0.8), 0 0 9px 1px #11ff95, 0 0 24px 10px rgba(10, 234, 93, 0.64);
}
